{% extends 'base.html' %}
{% block content %}
<div id = 'main'>
<form method = 'post' enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
<input type='submit' name='edit_profile' value = 'Save Changes'/>
</form>
</div>
{% endblock %}
